Flask
flask_cors
flask_sqlalchemy
SQLAlchemy
pymysql
cryptography
pytest
python-dotenv
pytesseract
pdf2image
pillow
opencv-python
packaging
setuptools
wheel
ultralytics
supervision
transformers
paddlepaddle
paddleocr
scikit-learn
rich